
.Marco-Zero{
    margin: 0;
    background-color: rgb(168, 199, 168);
}


.informacoes{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;

}

#resumo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

#links{
    display: flex;
}

.link{
    padding: 15px;
    margin-right: 30px;
    background-color: rgb(110, 200, 110);
    color: white;
    border-radius: 30px;
}

#mainNovosPontos{
    display: flex;
    margin-top: 100px;

}

.pontos{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#rodape{
    background-color: green;
    padding: 5px;
}

